*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100px;
}

.content{
    padding: 1rem;    
}

.pokemons{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon{
    margin: .5rem;
    padding: 1rem 1.5em;
    border-radius: 1rem;
    cursor: pointer;
}

.pokemon .number{
    color: #00000079;
    text-align: right;
    display: block;
}

.pokemon .name{
    font-weight: bold;
    font-size: 1.3em;
    text-transform: capitalize;
}

.pokemon .details{
    display: flex;
    justify-content: space-between;
}

.pokemon .types{
    list-style-type: none;
    display: flex;
    gap: .5em;
    flex-direction: column;
}

.pokemon .type{
    background-color: rgba(255, 255, 255, 0.492);
    color: black;
    margin-top: .5em;
    padding: .4em .6em;
    text-align: center;
    border-radius: 10px;
    font-size: .7em;
}

.pokemon .details img{
    height: 100px;
    align-self: flex-end;
    filter: grayscale(100%);
}

.normal {background-color: #A8A77A;}
.fire {background-color: #EE8130;}
.water {background-color: #6390F0;}
.electric {background-color: #F7D02C;}
.grass {background-color: #7AC74C;}
.ice {background-color: #96D9D6;}
.fighting {background-color: #C22E28;}
.poison {background-color: #A33EA1;}
.ground {background-color: #E2BF65;}
.flying {background-color: #A98FF3;}
.psychic {background-color: #F95587;}
.bug {background-color: #A6B91A;}
.rock {background-color: #B6A136;}
.ghost {background-color: #735797;}
.dragon {background-color: #6F35FC;}
.dark {background-color: #705746;}
.steel {background-color: #B7B7CE;}
.fairy {background-color: #D685AD;}

.pokemon:hover .details img{
    filter: grayscale(0%);
    transition: .5s;
}


#load_more {
    display: block;
    margin: 1em auto;
    color: white;
    background-color: red;
    padding: .5rem 1em;
    border: 1px solid black;
    border-radius: 1em;
    font-family: monospace;
    font-size: 1.2em;
    cursor: pointer;
}


a.pokemon-link{
    text-decoration: none;
}

.about-modal.active{
    display: flex;
}

.about-modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.about-card{
    width: 450px;
    border-radius: 2em;
    border: 3px solid white;
    padding: 1em;
}

.about-title{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    font-size: 1.2em;
    border-radius: .5em;
}

.about-image{
    margin: 2em auto;
    width: 100%;
    position: relative;
}

.about-image .circle{
    background-color: rgba(255, 255, 255, 0.325);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.about-image .img{
    margin: 0 auto;
    text-align: center;
    height: 10rem !important;
}

.about-image .img img{
    height: 100%;
    position: relative;
    z-index: 200;
    max-width: 200px;
}

.about-status{
    background-color: white;
    padding: 1em;
    border-radius: 1em;
}

.about-status .habilidades p{
    font-weight: bold;
    font-size: 1.2em;
}

.about-status .habilidades ol{
    margin: .5em 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}
.about-status .habilidades ol li{
    background-color: rgb(199, 199, 199);
    color: black;
    margin-top: .5em;
    padding: .4em .6em;
    text-align: center;
    border-radius: 10px;
    font-size: 1em;
}

.status-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin-bottom: .5em;
}

.progress-bar{
    display: flex;
    gap: .5em;
    justify-content: space-between;
    align-items: center;
}

.progress{
    width: 100px;
    background-color: #ccc;
    height: 10px;
    border-radius: 1em;
}

.bar{
    height: 10px;
    border-radius: 1em;
}

@media screen and (min-width: 520px) {

    .content{
        max-width: 520px;
        margin: 0 auto;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {

    .content{
        max-width: 768px;
        margin: 0 auto;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px ) {
    .content{
        max-width: 992px;
        margin: 0 auto;
    }
}