*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100px;
}

.content{
    padding: 1rem;    
}

.pokemons{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon{
    margin: .5rem;
    padding: 1rem 1.5em;
    border-radius: 1rem;
}

.pokemon .number{
    color: #ffffff79;
    text-align: right;
    display: block;
}

.pokemon .name{
    font-weight: bold;
    font-size: 1.3em;
    text-transform: capitalize;
    color: #fff;
}

.pokemon .details{
    display: flex;
    justify-content: space-between;
}

.pokemon .types{
    list-style-type: none;
    display: flex;
    gap: .5em;
    flex-direction: column;
}

.pokemon .type{
    background-color: rgba(255, 255, 255, 0.492);
    margin-top: .5em;
    padding: .4em .6em;
    text-align: center;
    border-radius: 10px;
    font-size: .7em;
}

.pokemon .details img{
    height: 80px;
    align-self: flex-end;
}

.normal {background-color: #A8A77A;}
.fire {background-color: #EE8130;}
.water {background-color: #6390F0;}
.electric {background-color: #F7D02C;}
.grass {background-color: #7AC74C;}
.ice {background-color: #96D9D6;}
.fighting {background-color: #C22E28;}
.poison {background-color: #A33EA1;}
.ground {background-color: #E2BF65;}
.flying {background-color: #A98FF3;}
.psychic {background-color: #F95587;}
.bug {background-color: #A6B91A;}
.rock {background-color: #B6A136;}
.ghost {background-color: #735797;}
.dragon {background-color: #6F35FC;}
.dark {background-color: #705746;}
.steel {background-color: #B7B7CE;}
.fairy {background-color: #D685AD;}

#load_more {
    display: block;
    margin: 1em auto;
    color: white;
    background-color: red;
    padding: .5rem 1em;
    border: 1px solid black;
    border-radius: 1em;
    font-family: monospace;
    font-size: 1.2em;
    cursor: pointer;
}


@media screen and (min-width: 520px) {

    .content{
        max-width: 520px;
        margin: 0 auto;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {

    .content{
        max-width: 768px;
        margin: 0 auto;
    }

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px ) {
    .content{
        max-width: 992px;
        margin: 0 auto;
    }
}